body {
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 20px; */
  font-size: 1.4vw;
  line-height: 1.35;
  height: 100vh;
  /* cursor: none; */
  margin: 30px 40px;
  background-color: #ededed;
}

/* GLOBAL */
a {
  color: #0000e4;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h2 {
  line-height: 1.2;
}

h3 {
  font-size: 2.7vw;
  line-height: 1.24;
}

h4 {
  font-size: 3.03vh;
  line-height: 1.4;
}

h5 {
  font-size: 1.4vw;
}

/* NAV */

.name {
  position: fixed;
  z-index: 2;
}

nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.mobile-ig {
  display: none;
}
.time {
  position: fixed;
  right: 40px;
  z-index: 2;
}

.selected-link {
  /* border-bottom: 2px solid black;
  padding-bottom: 2px; */
  color: black;
  text-decoration: none;
}

/* PROJECT NAV BAR */

div.projects-nav {
  /* position: fixed;
  bottom: 1.8em; */
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

.projects-nav p {
  margin: 0;
  margin-right: 0.5em;
}

.projects-nav a {
  margin-right: 0.5em;
  color: black;
  text-decoration: none;
  display: flex;
}

.projects-nav a:hover {
  text-decoration: underline;
}

a.project-selected {
  text-decoration: underline;
}

.bullet {
  display: flex;
  flex-direction: row;
  width: 0.6em;
  height: 0.6em;
  margin: 0.35em 0;
  margin-right: 0.35em;
  border-radius: 50%;
  background-color: black;
}

/* SECTION - THE WHOLE SECTION */

.project-endlink {
  margin-top: 6em;
  padding-bottom: 1em;
}

.project-endlink a {
  text-decoration: none;
  color: black;
}

/* SECTION - CASE STUDY INTRO */
h1 {
  font-weight: 400;
  font-size: 7vw;
  line-height: 1.05;
  letter-spacing: -2px;
}

h1.project-title {
  font-weight: 400;
  padding-bottom: -1vh;
  width: fit-content;
  border-bottom: 1vh solid black;
  line-height: 0.85;
  padding-top: 0.83em;
}
.role-list .roles {
  display: flex;
  flex-direction: row;
}

.role-list .roles p {
  margin-right: 5vh;
  margin-top: 0.8em;
}

.one-liner {
  width: 80vw;
  margin-bottom: 1.85em;
}

/* SECTION - PROJECT BRIEF */
.tags {
  display: flex;
  flex-direction: row;
  margin: 1.5em 0;
}

.tags h5 {
  margin-right: 8vh;
}

.project-image {
  transition: all 0.5s ease;
}
.project-image .img-link img {
  width: 100%;
}

.project-brief h4 {
  max-width: 65.5%;
  margin-left: auto;
  margin-top: 1em;
}

.case-study-roles {
  display: none;
}

/* SECTION - PROJECT */

section.project-section .actual-content {
  width: 90vw;
  margin: auto;
  margin-top: -2.5em;
  display: flex;
  flex-direction: column;
}

.project-section .section-content {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
}

.section-content .section-number {
  z-index: 1;
}

.section-content .white-number {
  /* color: white; */
}

.project-section .description {
  width: 90vw;
  margin: auto;
  display: flex;
  margin-top: 1em;
}

.project-section .description .section-title {
  width: 30.3vw;
  line-height: 0.9;
}

.section-description {
  /* width: 60%; */
  width: 66%;
  /* display: flex; */
  display: grid;
  grid-template-columns: 7% 93%;
}

.section-description p {
  margin: 0;
  line-height: 1.25;
  margin-top: 0.2em;
}

.section-description .lowertext-p {
  margin-top: 1em;
}

.section-description .small-section-number {
  width: 38%;
  margin-top: 0.15em;
}

.section-description .second-description {
  width: 31%;
}

/* SECTION - PROJECT CONTENT FOR INDIVIDUAL PROJECTS */

/* Discontent Pt1 */
.color-box {
  background-color: white;
  height: 14vh;
  display: flex;
}

.color-box-red {
  width: 28%;
  background-color: #e81a1a;
}

section.project-section .discontent-images img:nth-child(2) {
  margin-top: 2em;
  width: 75vw;
}

/* Alex */

.alex-grid {
  display: grid;
  grid-template-columns: 82% 18%;
}

.alex-grid img:first-child {
  width: 98%;
}

.alex-grid img:last-child {
  width: 100%;
}

section.project-section .alex-type {
  margin-top: 0;
}

section.project-section .alex-type img:last-child {
  margin-top: 2em;
}

.alex-scroll {
  margin-top: 6em;
}

.alex-scroll .section-description {
  width: 62%;
  margin-left: 0.2em;
}

/* Discontent Pt2 */

.dis-last-section {
  margin-bottom: 6em;
}

/* Vacuna Ruc */

.no-margin-top {
  margin-top: 1em !important;
}
.h4-body-descript {
  max-width: 65.5%;
  margin-left: auto;
  margin-bottom: 2em;
  line-height: 1.2;
  margin-top: 1em;
}

p.vacuna-margin-r {
  margin-right: 4em;
}

p.bold {
  font-weight: 600;
  margin-bottom: 0.5em;
}

div.lower-descript {
  margin-top: 2em !important;
}

img.v-wireframe {
  width: 20vw;
  margin-top: 0.08em;
}

@media (max-width: 1130px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  .section-description .small-section-number {
    margin-top: 0;
  }
  .small-section-number {
    font-size: 16px;
  }
  .tags h5 {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  h4 {
    line-height: 1.3;
  }
}

@media (max-width: 905px) {
  /* body {
    font-size: 18px;
  } */
  section.page-intro div {
    width: 65vw;
  }
  h3 {
    font-size: 26px;
    line-height: 1.2;
  }
  h4 {
    font-size: 18px;
    line-height: 1.35;
  }
  .last-project {
    padding-bottom: 2em;
  }

  .tags {
    flex-direction: column;
  }

  section.project-section .actual-content {
    margin-top: -2em;
  }

  .project-brief h4 {
    line-height: 1.25;
  }
}

@media (max-width: 820px) {
  .one-liner {
    width: 100%;
  }
}

@media (max-width: 780px) {
  nav {
    position: fixed;
    left: unset;
    transform: translateX(0%);
    z-index: 2;
    right: 40px;
  }
  .time {
    display: none;
  }
  .embed-web-project {
    display: none;
  }
  .watch-mobile,
  .inr-mobile {
    display: flex;
    width: 100%;
  }
  h1.project-title {
    font-size: 8vw;
  }
  .project {
    margin: 1em 0;
  }
  .project-section .description {
    flex-direction: row;
  }
  h5.second-description {
    display: none;
  }
  section.project-section .actual-content {
    margin-top: 0.5em;
  }
}

@media (max-width: 750px) {
  .project-brief h4 {
    max-width: 76%;
  }
  /* 
  .project-section .description {
    flex-direction: column;
  } */

  .section-description {
    display: flex;
  }

  .section-description .small-section-number {
    display: none;
  }
}

@media (max-width: 700px) {
  .no-live {
    display: none;
  }
}

@media (max-width: 650px) {
  .project-brief h4 {
    max-width: 100%;
  }
  section.project-section .discontent-images img:nth-child(2) {
    width: 100%;
  }
}

@media (max-width: 580px) {
  body {
    font-size: 18px;
    margin: 20px 24px;
    margin-right: 12px;
    overflow-x: hidden;
  }

  .name {
    /* position: unset;
    z-index: 2;
    margin-top: 0;
    text-transform: uppercase;
    color: #6b7171;
    color: black;
    font-size: 6vh;
    margin-left: 4.1vh;
    line-height: 0.85;
    width: 56vw; */
    display: none;
  }

  .case-study-intro {
    margin-right: 24px;
    border-top: 2px solid black;
  }

  section.cv {
    margin-left: 0;
    flex-direction: column;
    margin-top: 8vh;
    padding-bottom: 2vh;
  }

  h1.project-title {
    font-size: 36px;
    border-bottom: none;
  }

  h2,
  h3,
  h4 {
    /* font-size: 20px; */
    font-size: 18px;
    /* line-height: 1.28; */
    /* line-height: 1.34; */
    line-height: 1.28;
  }

  .one-liner {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .bottom-margin {
    margin-bottom: 5vh;
  }

  .column-2 {
    margin-top: 3.5vh;
  }

  .project-description {
    max-width: 100%;
  }

  .mobile-ig {
    display: flex;
  }

  .desktop-ig {
    display: none;
  }

  nav {
    position: fixed;
    /* left: 24px; */
    /* left: 1.4vh; */
    left: 1.2vh;
    /* transform: translateX(0%); */
    z-index: 2;
    top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
  }

  nav a {
    margin-left: 6px;
    white-space: nowrap;
  }

  nav a:first-child {
    margin-left: 0px;
  }

  .time {
    display: none;
  }

  h1 {
    /* font-size: 48px; */
    font-size: 36px;
    letter-spacing: -0.7px;
  }

  .page-intro,
  .case-study-intro,
  .project-brief,
  .project-section {
    margin-left: 4vh;
  }

  .project-section .description {
    flex-direction: column;
  }

  .section-description {
    width: 100%;
  }
  .section-description p {
    margin-top: 1em;
    font-size: 14px;
    margin-right: 24px;
  }

  section.project-section .actual-content {
    width: 100%;
  }

  .project-section .section-content {
    margin-top: 3em;
  }

  .project-section .description .section-title {
    width: 100%;
  }

  section.project-section .discontent-images img:nth-child(2) {
    margin-top: 1em;
  }

  .no-margin {
    margin-top: 0 !important;
  }
  h1.section-number {
    display: none;
  }

  .role-list {
    display: none;
  }
  .case-study-roles {
    display: flex;
  }

  div.projects-nav {
    flex-direction: column;
  }

  .tags h5 {
    font-size: 14px;
  }

  .project-endlink {
    margin-top: 0em;
    padding-bottom: 1em;
  }

  .alex-scroll {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }

  .endlink-top {
    margin-top: 3em;
  }

  .hide-link {
    display: none;
  }

  .added-margin {
    margin-top: 3em;
  }

  .dis-last-section {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  section.page-intro {
    padding-top: 1vh;
  }
}

@media (max-width: 380px) {
  /* section.cv {
    margin-top: 6vh;
  } */
  /* nav {
    font-size: 20px;
  } */
  .page-intro,
  .case-study-intro,
  .project-brief {
    margin-left: 2.8vh;
  }
  .name {
    margin-left: 3.1vh;
  }
}

@media (max-width: 336px) {
  body,
  nav,
  h2,
  h3,
  h4 {
    font-size: 16px;
  }
}
