body {
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 20px; */
  font-size: 1.4vw;
  line-height: 1.34;
  height: 100vh;
  /* cursor: none; */
  margin: 30px 40px;
  background-color: #ededed;
}

/* GLOBAL */
a {
  color: #0000e4;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

h2 {
  line-height: 1.2;
}

h3 {
  font-size: 2.7vw;
  line-height: 1.24;
}

h4 {
  font-size: 3.03vh;
  line-height: 1.4;
}

h5 {
  font-size: 1.4vw;
}

/* NAV */

.name {
  position: fixed;
  z-index: 2;
}

nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.mobile-ig {
  display: none;
}
.time {
  position: fixed;
  right: 40px;
  z-index: 2;
}

.selected-link {
  /* border-bottom: 2px solid black;
  padding-bottom: 2px; */
  color: black;
  text-decoration: none;
}

/* SECTION - THE WHOLE SECTION */

.project-endlink {
  margin-top: 6em;
  margin-bottom: 3em;
}

.project-endlink a {
  text-decoration: none;
  color: black;
}

/* SECTION - CASE STUDY INTRO */
h1 {
  font-weight: 400;
  font-size: 7vw;
  line-height: 1.05;
  letter-spacing: -2px;
}

h1.project-title {
  font-weight: 400;
  padding-bottom: -1vh;
  width: fit-content;
  line-height: 0.85;
  padding-top: 0.83em;
}
.role-list .roles {
  display: flex;
  flex-direction: row;
}

.role-list .roles p {
  margin-right: 5vh;
  margin-top: 0.8em;
}

.one-liner {
  width: 80vw;
  margin-bottom: 1.85em;
}

/* SECTION - PAGE INTRO */

section.page-intro {
  padding-top: 7vh;
}

section.page-intro div {
  width: 48vw;
}

/* SECTION - PROJECT */

.project {
  margin: 1.8em 0;
}

.project-brief h4 {
  max-width: 65.5%;
  margin-left: auto;
  margin-top: 1em;
}

.embed-web-project {
  width: 94vw;
  height: 96vh;
}

.lower-project {
  margin-top: 3em;
}

.last-project {
  padding-bottom: 6em;
}

.watch-mobile,
.inr-mobile {
  display: none;
}

@media (max-width: 1130px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 900px) {
  /* body {
    font-size: 18px;
  } */
  section.page-intro div {
    width: 65vw;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 18px;
    line-height: 1.35;
  }
  .last-project {
    padding-bottom: 2em;
  }
}

@media (max-width: 780px) {
  nav {
    position: fixed;
    left: unset;
    transform: translateX(0%);
    z-index: 2;
    right: 40px;
  }
  .time {
    display: none;
  }
  .embed-web-project {
    display: none;
  }
  .watch-mobile,
  .inr-mobile {
    display: flex;
    width: 100%;
  }
  h1.project-title {
    font-size: 8vw;
  }
  .project {
    margin: 1em 0;
  }
}

@media (max-width: 700px) {
  .no-live {
    display: none;
  }
}

@media (max-width: 650px) {
  .project-brief h4 {
    max-width: 100%;
  }
}

@media (max-width: 580px) {
  body {
    font-size: 18px;
    margin: 20px 24px;
    margin-right: 12px;
  }

  .name {
    position: unset;
    z-index: 2;
    margin-top: 0;
    text-transform: uppercase;
    color: #6b7171;
    color: black;
    font-size: 6vh;
    /* font-size: 11.2vw; */
    /* margin-left: 5.2vh; */
    margin-left: 4.1vh;
    line-height: 0.85;
    width: 56vw;
  }

  section.cv {
    margin-left: 0;
    flex-direction: column;
    margin-top: 8vh;
    padding-bottom: 2vh;
  }

  h2,
  h3 {
    /* font-size: 20px; */
    font-size: 18px;
    /* line-height: 1.28; */
    line-height: 1.34;
  }

  .bottom-margin {
    margin-bottom: 5vh;
  }

  .column-2 {
    margin-top: 3.5vh;
  }

  .project-description {
    max-width: 100%;
  }

  .mobile-ig {
    display: flex;
  }

  .desktop-ig {
    display: none;
  }

  nav {
    position: fixed;
    /* left: 24px; */
    /* left: 1.4vh; */
    left: 1.2vh;
    /* transform: translateX(0%); */
    z-index: 2;
    top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
  }

  nav a {
    margin-left: 6px;
    white-space: nowrap;
  }

  nav a:first-child {
    margin-left: 0px;
  }

  .time {
    display: none;
  }

  h1 {
    /* font-size: 36px; */
    font-size: 10vw;
    line-height: 1.18;
  }

  .page-intro,
  .case-study-intro,
  .project-brief {
    margin-left: 4vh;
  }

  section.cv {
    margin-top: 4vh;
  }

  .about-text,
  section.page-intro {
    /* padding-top: 14vh; */
    padding-top: 2vh;
  }

  section.page-intro div {
    width: 100%;
  }

  .skills-list p {
    margin-bottom: 0px;
    font-size: 17px;
  }

  h3,
  h4 {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  /* body {
    margin: 20px 24px;
  } */
  /* h2 {
    font-size: 24px;
    line-height: 1.4;
  } */
  section.page-intro {
    padding-top: 1vh;
  }
}

@media (max-width: 380px) {
  /* section.cv {
    margin-top: 6vh;
  } */
  /* nav {
    font-size: 20px;
  } */
  .page-intro,
  .case-study-intro,
  .project-brief {
    margin-left: 2.8vh;
  }
  .name {
    margin-left: 3.1vh;
  }
}

/* @media (max-width: 336px) {
  body,
  nav,
  h2,
  h3,
  h4 {
    font-size: 16px;
  }
} */
